# <ins>List Operations :

In [ ]:
a,b = 10,100
print(a)
print(b)

10
100

In [ ]:
l = [1,2,4,5]
print(l[-1])
#A negative index will return the last element for -1, second to last for -2 and so on

5

In [ ]:
#list 
l = [1,2]
t=9;
print(l)
l.append(t) # adding to list 
print(l)

[1, 2]
[1, 2, 9]

In [ ]:
l = [1,2]
#list
print(l)
l.append("t")
print(l)

[1, 2]
[1, 2, 't']

In [ ]:
l=[1,2]
l.append([5,9]) #cannot directly add as seperate elements
print(l)

[1, 2, [5, 9]]

In [ ]:
#Extend is the proper way to add elements in a list on to the end of another list
l = [1,2]
l.extend([5,9])
print(l)

[1, 2, 5, 9]

In [ ]:
l = [1,2]
l+=[5,9]
print(l)
#The same applies to lists

[1, 2, 5, 9]

In [ ]:
l = [1,2,4,5]
print(l)
l.insert(2,[3,7])
print(l)
#Given an index and an element to insert, the insert function of a list inserts an element
#Here we insert the element 3 into the 2nd index/3rd position of our list

[1, 2, 4, 5]
[1, 2, [3, 7], 4, 5]

In [ ]:
# remove a certain element (not by position),

l.remove(100)
print(l)
#Remove is a way to get rid of a certain value from your list, here we remove the value 100 from the list

[1, 2, 4, 5]

In [ ]:
a = l.pop()
print(a)
print(l)
#Pop removes the last variable from a list and returns it so that you can set a variable equal to it
#Here we take 5 from the list and assign its value to a

5
[1, 2, 4]

In [1]:
l = ["aab",'a','a','b',9,10,9]
c=9;
a=10;
print(l.count('a'))
print(l.count('b'))
print(l.count('c'))
print(l.count(c))               #without quotes it gives the count of the values of the variable
print(l.count(a))
#Count gives us the count of variables when variables are in quotes

2
1
0
2
1

In [ ]:
l = [3,5,2,1,4]
l.sort()
print (l)
print(l[-1])

# Here is the max function.

#Python also has max() to do this for you easily
print(max(l))

# As you can see, once we use the sort() function our list is correctly ordered. If we want the list to be in descending we can give the argument "reverse=True".

l.sort(reverse=True)
print(l)
#The parameter reverse=True will give us the list with the highest numbers first

#Another useful function is reverse() which does exactly that for the list.

l = ['a','b','c',1,2,3]
print(l)
l.reverse()
print(l)
#Reverse() does exactly that

[1, 2, 3, 4, 5]
5
5
[5, 4, 3, 2, 1]
['a', 'b', 'c', 1, 2, 3]
[3, 2, 1, 'c', 'b', 'a']

In [ ]:
k = [1,2,3,4]
print (k*3)
#print (k/3) or print(k%3) or print(k+3) gives error , for these operation use list comprehension.

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [ ]:
l1 = [1,2,3,4,5]
l2 = [10,100,1000,100,10]
print([x*y for x,y in zip(l1,l2)])  #list comprehension
#Zip is the way to go through two lists together
#The syntax is f(a,b) for a,b in zip(l1,l2) or f(a,b,c) for a,b,c in zip(l1,l2,l3) and so on

[10, 200, 3000, 400, 50]

# Slicing Lists and Strings :

In [ ]:
s = "Hello World"
print(s[1])

print(s[0:2])   #loops not required to print elements of array

print(s[:3])

print(s[3:])

e
He
Hel
lo World

# String Operations :

In [ ]:
text = "there is a worm in the can, have faith  , there is a tiger in the bathroom"
print(text.lower())

print(text)

text = text.lower()
print(text)

print(text.upper())

print(text.find("is"))

print(text.find("is",12))
#If we give a number after our word to find then we start the finding process after that number

print(text.find("sleep"))

print(text.split('faith'))

there is a worm in the can, have faith  , there is a tiger in the bathroom
there is a worm in the can, have faith  , there is a tiger in the bathroom
there is a worm in the can, have faith  , there is a tiger in the bathroom
THERE IS A WORM IN THE CAN, HAVE FAITH  , THERE IS A TIGER IN THE BATHROOM
6
48
-1
['there is a worm in the can, have ', '  , there is a tiger in the bathroom']

# TUPLES : 
- A tuple is similar to a list but has less flexibility
- Tuples can't be modified, so the below code will fail.
- You can't set a value on a tuple, so it can be good if you don't want to accidently change your data later

In [2]:
t = (1,1)
print(t)
t = (1,1)
# t[1] = 0  error
t.count(1)
t.index(1)
t[0]

(1, 1)

1

# Sets : 
- Now, sets are similar to the last two data structures except they only hold unique values.

In [3]:
s = {1,2,3}
l = [1,1,1,2,2,3]
s = set(l)
print(s)
#So here we see that the set is only 1, 2, 3 because those are the unique values

{1, 2, 3}

In [4]:


#An interesting method that sets have is union which allows for finding all unique elements between two sets.

s1 = {1,2}
s2 = {2,3}
print(s1.union(s2))
print(s1.intersection(s2))
print(s1.isdisjoint(s2))
s1.remove(2)
print(s1)
print(s1.isdisjoint(s2))

{1, 2, 3}
{2}
False
{1}
True

# BOOLEAN

In [ ]:

a = 5
print(a==5)

#We can also check if something is equal with "!=" or we can check any less than or greater than equality.

print(6!=5)
print(5 >= 5)
print(5 <= 4)
print(5 > 5)
print(3 < 4)

True
True
True
False
False
True

# Miscelleneous

In [6]:
a = True
print(a)
print(int(a))
type(print(a))

True
1
True

NoneType

In [5]:
if print(9>1) :
  print("a")

True